{
  "env": {
    "commonjs": {
      "presets": [
        "@babel/env",
        "@babel/stage-0"
      ],
      "plugins": [
        "@babel/transform-runtime"
      ]
    },
    "es": {
      "presets": [
        ["@babel/env", {"modules": false}],
        "@babel/stage-0"
      ],
      "plugins": [
        "@babel/transform-runtime"
      ]
    }
  }
}
